body {
  font-size: 100%;
  font-family: sans-serif;
};

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  background-color: #F5F5F5;
}

h1 {
  text-align: center;
}

#header {
  text-align: center;
}

.row {
  border:1px solid black;
  padding: 20px;
}

.info {
  text-align: center;
  margin-top: 10px;
}

.profilepic {
  width:20px;
  border-radius: 100%;
  display:block;
}
