body {
  font-size: 100%;
  font-family: sans-serif;
};

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  background-color: #F5F5F5;
}

h1 {
  text-align: center;
}

#header {
  text-align: center;
}

table {
    border-collapse: collapse;
    width:70%;
    margin:0 auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
  padding:20px;
  text-align: center;
}

.userName {
  margin-top:5px;
  display: block;
}

.profilePic {
  width:50px;
  border-radius: 100%;
}
